[submodule "nalgebra"]
	path = nalgebra
	url = git://github.com/sebcrozet/nalgebra.git
[submodule "kiss3d"]
	path = kiss3d
	url = git://github.com/sebcrozet/kiss3d.git
[submodule "nphysics"]
	path = nphysics
	url = git://github.com/sebcrozet/nphysics.git
