[submodule "nalgebra"]
	path = nalgebra
	url = git://github.com/sebcrozet/nalgebra.git
[submodule "kiss3d"]
	path = kiss3d
	url = git://github.com/sebcrozet/kiss3d.git
[submodule "nphysics"]
	path = nphysics
	url = git://github.com/sebcrozet/nphysics.git
[submodule "rust-opencl"]
	path = rust-opencl
	url = git@github.com:sebcrozet/rust-opencl.git
[submodule "rs2cl"]
	path = rs2cl
	url = git://github.com/sebcrozet/rs2cl.git
